<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Apparently this is useful? -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Idea Generator</title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="Header">
        <img src="" alt="Logo (TBD)">
        <nav class="contact|about-button">
            <section class = "contact">
                <button class="button">Contact</button>
            </section>

            <section class = "about">
                <button class="button">About</button>
            </section>

        </nav>
    </header>

    <section class = "idea|-button">
        <h1 class="idea-text"> The idea</h1>
        <div class="new-idea-button">
            <button class="button">New Idea</button>
        </div>
    </section>


    <section class="categories">
        <button class="button">Category 1</button>
        <button class="button">Category 2</button>
    </section>
</body>
</html>