<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Idea Generator</title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="Header">
        <img src="" alt="Logo (TBD)">
        <nav class="contact|about-button">
            <section class = "contact">
                <button>Contact</button>
            </section>

            <section class = "about">
                <button>About</button>
            </section>

        </nav>
    </header>

    <section>
        <h1> The idea</h1>
        <div class="new-idea-button">
            <button>New Idea</button>
        </div>
    </section>
</body>
</html>